name: C++ CMake Conan Build

on:
  workflow_call:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup
        uses: tnt-coders/ci-workflows/.github/actions/cpp-cmake-conan-setup@master

      - name: Configure
        run: cmake --preset release

      - name: Build
        run: cmake --build --preset release

      - name: Test
        run: ctest --preset release --output-on-failure

      - name: Install NSIS (Windows)
        if: runner.os == 'Windows'
        shell: bash
        run: choco install nsis -y

      - name: Package
        run: cpack --config build/release/CPackConfig.cmake -B build/release/packages

      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: packages-${{ runner.os }}
          path: |
            build/release/packages/*
            !build/release/packages/_CPack_Packages
