name: C++ CMake Conan Package

on:
  workflow_call:

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - name: Setup
        uses: tnt-coders/ci-workflows/.github/actions/cpp-cmake-conan-setup@master

      - name: Detect Conan profile
        run: conan profile detect

      - name: Create package
        run: conan create . --version=test