name: C++ CMake Conan Lint

on:
  workflow_call:

jobs:
  lint:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup
        uses: tnt-coders/ci-workflows/.github/actions/cpp-cmake-conan-setup@master

      - name: Configure
        run: cmake --preset release

      - name: Clang-Tidy
        run: cmake --build --preset release --target clang-tidy